body{
    font-family: sans-serif;
    background-color: rgb(0, 31, 49);
    color: white;
}

html, .fullscreen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.inputaltura{
    border: 1px solid white;
    box-shadow: grey 3px 3px 1px 2px;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
    display: block;
    margin: auto;
    font-family: monospace;
}

.inputpeso{
    border: 1px solid white;
    box-shadow: grey 3px 3px 1px 2px;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
    display: block;
    margin: auto;
    font-family: monospace;
}

.inputnome{
    border: 1px solid white;
    box-shadow: grey 3px 3px 1px 2px;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
    display: block;
    margin: auto;
    font-family: monospace;
}

.inputidade{
    border: 1px solid white;
    box-shadow: grey 3px 3px 1px 2px;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
    display: block;
    margin: auto;
    font-family: monospace;
}

.inputsexo{
    border: 1px solid white;
    box-shadow: grey 3px 3px 1px 2px;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
    display: block;
    margin: auto;
    font-family: monospace;
}

.divIMC{
    margin-top: 40px;
    margin-bottom: 20px;
}

.titleIMC{
    font-size: 1rem;
    color: black;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    box-shadow: grey 3px 3px 1px 2px;
    border-radius: 5px;
    width: 50%;
    display: block;
    margin: auto;
    font-family: monospace;
}

.titleCalcular{
    font-size: 1rem;
    color: black;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    box-shadow: rgb(128, 128, 128) 3px 3px 1px 2px;
    border-radius: 5px;
    font-family: monospace;
}

label{
    display: flex;
    justify-content: center;    
    font-weight: bold;
    font-family: monospace;
}

button{
    display: block;
    margin: auto;
    margin-top: 30px;
    font-weight: bold;
    border: 1px solid rgb(0, 82, 130);
    background-color: rgb(0, 82, 130);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(0, 49, 78) 3px 3px 1px 2px;
    color: white;
    font-family: monospace;
    cursor: pointer;
}